In [1]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [2]:
clf = DecisionTreeClassifier(random_state=241)

In [3]:
import pandas as pd

In [4]:
durty_data = pd.read_csv('titanic.csv')

In [56]:
durty_data.shape

(891, 12)

In [32]:
df = durty_data[['Pclass','Fare','Age','Sex']].copy()

In [33]:
print(df.head(), df.shape, sep='\n')

   Pclass     Fare   Age     Sex
0       3   7.2500  22.0    male
1       1  71.2833  38.0  female
2       3   7.9250  26.0  female
3       1  53.1000  35.0  female
4       3   8.0500  35.0    male
(891, 4)

In [34]:
df.dropna(inplace=True)

female=0
male=1

In [37]:
df.replace(to_replace=['male', 'female'], value=[1, 0], inplace=True)

In [38]:
df

     Pclass      Fare   Age  Sex
0         3    7.2500  22.0    1
1         1   71.2833  38.0    0
2         3    7.9250  26.0    0
3         1   53.1000  35.0    0
4         3    8.0500  35.0    1
6         1   51.8625  54.0    1
7         3   21.0750   2.0    1
8         3   11.1333  27.0    0
9         2   30.0708  14.0    0
10        3   16.7000   4.0    0
11        1   26.5500  58.0    0
12        3    8.0500  20.0    1
13        3   31.2750  39.0    1
14        3    7.8542  14.0    0
15        2   16.0000  55.0    0
16        3   29.1250   2.0    1
18        3   18.0000  31.0    0
20        2   26.0000  35.0    1
21        2   13.0000  34.0    1
22        3    8.0292  15.0    0
23        1   35.5000  28.0    1
24        3   21.0750   8.0    0
25        3   31.3875  38.0    0
27        1  263.0000  19.0    1
30        1   27.7208  40.0    1
33        2   10.5000  66.0    1
34        1   82.1708  28.0    1
35        1   52.0000  42.0    1
37        3    8.0500  21.0    1
38        3   18.0000  18.0    0
..      ...       ...   ...  ...
856       1  164.8667  45.0    0
857       1   26.5500  51.0    1
858       3   19.2583  24.0    0
860       3   14.1083  41.0    1
861       2   11.5000  21.0    1
862       1   25.9292  48.0    0
864       2   13.0000  24.0    1
865       2   13.0000  42.0    0
866       2   13.8583  27.0    0
867       1   50.4958  31.0    1
869       3   11.1333   4.0    1
870       3    7.8958  26.0    1
871       1   52.5542  47.0    0
872       1    5.0000  33.0    1
873       3    9.0000  47.0    1
874       2   24.0000  28.0    0
875       3    7.2250  15.0    0
876       3    9.8458  20.0    1
877       3    7.8958  19.0    1
879       1   83.1583  56.0    0
880       2   26.0000  25.0    0
881       3    7.8958  33.0    1
882       3   10.5167  22.0    0
883       2   10.5000  28.0    1
884       3    7.0500  25.0    1
885       3   29.1250  39.0    0
886       2   13.0000  27.0    1
887       1   30.0000  19.0    0
889       1   30.0000  26.0    1
890       3    7.7500  32.0    1

[714 rows x 4 columns]

In [62]:
y = durty_data[durty_data['Age'].notna()].Survived.copy()

In [63]:
y.shape

(714,)

In [64]:
clf.fit(df, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [67]:
clf.predict([[3, 10, 20, 0]])

array([0], dtype=int64)

In [74]:
clf.feature_importances_

array([0.14000522, 0.30343647, 0.2560461 , 0.30051221])